<div class="container displayGrid">
    <div class="card">
        <a [routerLink]="['pessoa']">
            <img src="../../assets/pessoa.jpg" class="card-img-top" alt="Menu Pessoas">
            <div class="card-body">
                <h5>Pessoas</h5>
            </div>
        </a>
    </div>
    <div class="card">
        <a [routerLink]="['funcionario']">
            <img src="../../assets/funcionario.png" class="card-img-top" alt="Menu Funcionários">
            <div class="card-body">
                <h5 class="card-title">Funcionários</h5>
            </div>
        </a>
    </div>
    <div class="card">
        <a [routerLink]="['pet']">
            <img src="../../assets/pet.jpg" class="card-img-top" alt="Menu Pets">
            <div class="card-body">
                <h5 class="card-title">Pets</h5>
            </div>
        </a>
    </div>
    <div class="card">
        <a [routerLink]="['servico']">
            <img src="../../assets/servicos.jpg" class="card-img-top" alt="Menu Serviços">
            <div class="card-body">
                <h5 class="card-title">Serviços</h5>
            </div>
        </a>
    </div>
    <div class="card">
        <a [routerLink]="['estoque']">
            <img src="../../assets/estoque.jpg" class="card-img-top" alt="Menu Estoques">
            <div class="card-body">
                <h5 class="card-title">Estoques</h5>
            </div>
        </a>
    </div>

</div>
